.astro
.git
.github
.lighthouseci
.DS_Store
dist
node_modules
playwright-report
test-results
coverage
assets
404
agb
datenschutz
hinweise-disclaimer
impressum
index
ki-hinweise
konto-loeschen
recipe-share
settings.js
styles.css
